:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* COLORS */
  --theme-dark-bg: var(--color-dark-10);
  --theme-light-bg: hsla(40, 30%, 86%, 100%);

  --theme-dark-color: var(--theme-light-bg);
  --theme-light-color: var(--theme-dark-bg);

  --color-dark-10-40: hsla(254, 2%, 10%, 70%);
  --color-dark-10: hsla(254, 2%, 10%, 100%);
  --color-dark-20: hsla(254, 2%, 20%, 100%);
  --color-dark-30: hsla(254, 2%, 30%, 100%);
  --color-dark-40: hsla(254, 2%, 40%, 100%);
  --color-dark-50: hsla(254, 2%, 50%, 100%);
  --color-dark-60: hsla(254, 2%, 60%, 100%);
  --color-dark-70: hsla(254, 2%, 70%, 100%);

  --color-primary: #55d8fe;

  /* SPACERS */
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-16: 16px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-48: 48px;
  --spacing-56: 56px;
  --spacing-72: 72px;

  /*BORDER RADIUS */
  --radius-s: 8px;
  --radius-m: 16px;
  --radius-l: 24px;
  --radius-xl: 32px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
  background-color: var(--theme-bg);
  color: var(--theme-color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body[data-theme="light"] {
  --theme-bg: var(--theme-light-bg);
  --theme-color: var(--theme-dark-bg);
}

body[data-theme="dark"] {
  --theme-bg: var(--theme-dark-bg);
  --theme-color: var(--theme-light-bg);
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}
